/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    color: #ffffff;
    overflow: hidden;
}

/* Background image styling */
body {
    background: url('milanrathod.jpg') no-repeat center center/cover;
}

/* Dark overlay for text visibility */
.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
}

/* Navigation styling */
.navigation ul {
    list-style: none;
    text-align: center;
}

.navigation ul li {
    margin: 20px 0;
}

.navigation a {
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
    transition: color 0.3s;
}

.navigation a:hover {
    color: #cccccc;
}
